name: test

on: [push]

jobs:

  build:
    runs-on: self-hosted
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Compile
        shell: bash
        run: |
          rm -rf *
          git clone https://github.com/lorenzetti-hep/lorenzetti.git
          export CPU_N=$(grep -c ^processor /proc/cpuinfo)
          cd lorenzetti && make 
          

          
  generation:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Generation
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          gen_zee.py --nov 5 -o Zee.EVT.root
          

  simulation:
    runs-on: self-hosted
    needs: generation
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Simulation
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          simu_trf.py -i Zee.EVT.root -o Zee.HIT.root -nt 5

  merge:
    runs-on: self-hosted
    needs: simulation
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Merge Events
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          cd .github/workflows/tests
          source test_merge_trf.sh

  digitalization:
    runs-on: self-hosted
    needs: simulation
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Digit Events
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          cd .github/workflows/tests
          source test_digit_trf.sh
              
  reconstruction:
    runs-on: self-hosted
    needs: digitalization
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Reco Events
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          cd .github/workflows/tests
          source test_reco_trf.sh



#
# Event generation tests
# 

  gen_zee:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Zee Generation
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          gen_zee.py --nov 5 -o Zee.EVT.root

  gen_jets:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Jets Generation
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          gen_jets.py --nov 2 -o JF17.EVT.root

  gen_minbias:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event MB Generation
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          gen_minbias.py --nov 1 --pileup-per-bunch-crossing 2 -o mb.EVT.root --eta-max 2.5


  gen_single_particle:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Single Particle Generation
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          gen_single.py -p Electron --eta-min 0 --eta-max 1.8 --nov 10 -o Electron.EVT.root

  gen_overlapped_zee:
    runs-on: self-hosted
    needs: build
    container:
      image: docker://lorenzetti/lorenzetti:latest
    steps:
      - name: Event Overlapped Zee Generation
        shell: bash
        run: |
          cd lorenzetti && source build/lzt_setup.sh
          gen_overlapped_zee.py --nov 5 -o OverlappedZee.EVT.root